<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="singletonBean" class="com.model.MyBean" scope="singleton">
	    <property name="message" value="This is Singleton Bean"></property>
	</bean>
    
     <bean id="prototypeBean" class="com.model.MyBean" scope="prototype">
	    <property name="message" value="This is Prototype Bean"></property>
	</bean>

</beans>
